<section class="disney-stays">
    <div class="disney-stays__header">
        <h2 class="disney-stays__main-title">{{ heading }}</h2>
        <p class="disney-stays__main-desc">{{ description }}</p>
    </div>

    <div class="disney-stays__grid">
        <div class="card" *ngFor="let card of cards">
            <div>
                <wdpr-card-large [disabled]="card.disabled" class="disney-card">
                    <wdpr-media
                        slot="media"
                        [src]="card.cardImage || '/storybook/static/media/media-mobile.5661ddbd.png'"
                        [smallSrc]="card.cardImage || '/storybook/static/media/media-mobile.5661ddbd.png'"
                        [mediumSrc]="card.cardImage || '/storybook/static/media/media-mobile.5661ddbd.png'"
                        [largeSrc]="card.cardImage || '/storybook/static/media/media-mobile.5661ddbd.png'"
                        [alt]="card.altText || 'Sample image'"
                        aspect="landscape"
                        landscapeRatio="2:1"
                        objectFit="cover"
                    ></wdpr-media>
                    <wdpr-card-large-content
                        slot="content"
                        [primaryHeadline]="card.primaryHeadline || card.cardTitle"
                        [headlineLabel]="card.headlineLabel"
                        [headlineSubtext]="card.headlineSubtext"
                        [body]="card.body || card.cardDescription"
                    >
                        <div class="custom-nav-overlay">
                            <wdpr-icon icon="next" class="next-arrow"></wdpr-icon>
                            <a [href]="card.link" class="stretched-link"><wdpr-icon-library
                            icon="next"
                            size="medium"
                        ></wdpr-icon-library></a>
                        </div>
                    </wdpr-card-large-content>
                </wdpr-card-large>
            </div>
        </div>
    </div>
</section>