.disney-stays {
    padding: 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Avenir Next", Helvetica, Arial, sans-serif;

    &__header {
        text-align: center;
        margin-bottom: 40px;
    }

    &__main-title {
        font-size: 32px;
        color: #00233c;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 15px;
    }

    &__main-desc {
        font-size: 16px;
        color: #333;
        line-height: 1.6;
        max-width: 850px;
        margin: 0 auto;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    wdpr-card-large-content{
        height: 100px;
        position: relative;
        width: 90%;
    }
    .custom-nav-overlay {
        position: absolute;
        right: -35px;
        bottom: 55px;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        .next-arrow {
            color: black;
            cursor: pointer;
        }

        .stretched-link {
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            z-index: 1; /* Makes the whole card clickable */
        }
    }
}
