<section class="vacay-container" data-theme="vista/cast">
    <div class="vacay-content">
        <h2 class="vacay-title" *ngIf="heading">{{ heading }}</h2>

        <p class="vacay-description" *ngIf="description">
            {{ description }}
        </p>
        <div [ngStyle]="{
          'background-color': variant === 'tertiary-alt' ? 'var(--color-plum-700)' : 'initial',
        }">
            <wdpr-button *ngIf="ctaLink" type="button" variant="primary" size="medium"
                [a11yLabel]="buttonText" [attr.aria-label]="buttonText" [disabled]="false" display="fit"
                (clicked)="onClick($event)" (disabledChanged)="onDisabledChanged($event)">
                {{ buttonText }}
            </wdpr-button>
        </div>
    </div>
</section>