.vacay-container {
    padding: 80px 20px;
    text-align: center;
    background-color: #ffffff;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;

    .vacay-content {
        max-width: 900px;
        margin: 0 auto;
    }

    .vacay-title {
        font-size: 48px;
        color: #00233c;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 500;
    }

    .vacay-description {
        font-size: 18px;
        line-height: 1.5;
        color: #333333;
        margin-bottom: 40px;
        padding: 0 10%;
    }

    wdpr-button{
        padding: 10px;
        display: flex;
        justify-content: center;
    }
}
